body{
    font-family: 'Quicksand', sans-serif;
}
.baslik{
    margin: 40px 0;
    h1{
    color: $renk2;
    text-align: center;
    font-family: 'Holtwood One SC', serif;
    }
    .baslikIcon{
        font-size: 30px;
        color: $renk3; 
        display: block;
        text-align: center;
    }
} 



.error{
    color: black;
    margin: 100px 0;
}